<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<TargetEndpoint name="default">
    <Description/>
    <FaultRules/>
    <PreFlow name="PreFlow">
        <Request/>
        <Response/>
    </PreFlow>
    <PostFlow name="PostFlow">
        <Request>
            <Step>
				<Name>tp_SetCopyPathSuffixFalse</Name>
			</Step>
        </Request>
        <Response/>
    </PostFlow>
    <Flows/>
    <HTTPTargetConnection>
        <Properties/>
        <URL>{{targetUri}}</URL>
        {{#isSSLEnabled}}
        <SSLInfo>
	         <Enabled>{{isSSLEnabled}}</Enabled>
	         <ClientAuthEnabled>{{isClientAuthEnabled}}</ClientAuthEnabled>
	         <KeyStore>{{keyStore}}</KeyStore>
	         <KeyAlias>{{KeyAlias}}</KeyAlias>
	    </SSLInfo>
	    {{/isSSLEnabled}}
    </HTTPTargetConnection>
</TargetEndpoint>