<JavaCallout name="SchemaValidationJavaCallout">
   <ClassName>com.prokarma.pkmst.apigee.JsonObjectValidation</ClassName>
   <ResourceURL>java://pkmst-apigee-0.0.1-SNAPSHOT.jar</ResourceURL>
</JavaCallout>