<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<KeyValueMapOperations async="false" continueOnError="false" enabled="true" name="tp_SpikeArrestConfigKVM" mapIdentifier="spikeArrestConfig">
    <DisplayName>SpikeArrestConfigKVM</DisplayName>
    <Properties/>
    <Get assignTo="spikelimit">
        <Key>
            <Parameter ref="apiproxy.name"/>
        </Key>
    </Get>
    <Scope>environment</Scope>
</KeyValueMapOperations>