<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<AssignMessage async="false" continueOnError="false" enabled="true" name="tp_SetJsonSchemaRef">
    <DisplayName>tp_SetJsonSchemaRef</DisplayName>
    <FaultRules/>
    <AssignVariable>
        <Name>objectName</Name>
         <Value>Order</Value>
    </AssignVariable>
    <IgnoreUnresolvedVariables>true</IgnoreUnresolvedVariables>
    <AssignTo createNew="false" transport="http" type="request"/>
</AssignMessage>
