<?xml version="1.0" encoding="UTF-8"?>
<Javascript name="tp_SetCopyPathSuffixFalse" async="false" enabled="true" timeLimit="200">
		<DisplayName>tp_SetCopyPathSuffixFalse</DisplayName>
		<ResourceURL>jsc://tp_setCopyPathSuffixFalse.js</ResourceURL>
</Javascript>